body{
	background-image: url('regi.jpg');
	background-size: cover;
	background-position: center;
	}
	.loginbox
	{
		top: 20%;
		left:03%;
		transform: translate(-50px,-50px);
		position: absolute;
		background:#00adee;
		padding: 40px;
		}
	.form
	{
		padding: 10px;
		font-family: arial;
		border: 1px dotted white; 
		align-self: center;  
	}
	h2{
		text-align: center;
		background: orange;
		color: white;
		padding: 10px;
      }
      input{
      	padding: 10px;
      	margin: 5px;
      	border-radius: 
      }

	